.speech {
    font-size: 15px;
    color: black;
    font-family: "Times New Roman";
}
.direction {
    font-size: 15px;
    color: black;
    background-color: lavender;
    font-family: "Times New Roman";
}
h6.direction:hover {
    background-color: cornsilk;
    color: skyblue;
}
.name {
    font-size: 15px;
    color: black;
    font-family: "Times New Roman";
}
h6.name {
    margin-block: auto;
}

.Cleante {
    color:darkkhaki
}
.Orgon {
    color:darkseagreen;

table, th, td {
    border:1px solid palevioletred;
  }
th, td {
    border: 1px solid #4dd0e1;
}
table {
    border: 1px solid white;
}
tbody tr:nth-child(odd) {
    background-color: rgb(233, 75, 212);
    margin: 2px;
    padding: 2px;
 }
.hari {
    margin: 2px;
    padding-top: 1rem;
}
.playStyle {
    font-style: italic;
    font-size: 18px;
    font-family: monospace;
    border: 2px solid purple;
}
h6.name:hover {
    border: 1px solid #ae92e2;
    padding: 10px;
    box-shadow: 5px 10px #ae92e2;
}
ul.navbar-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.navbar-horizontal li {
    float:left;
    background-color: darkviolet;
}
ul.navbar-horizontal a {
    display:block;
    padding:8px;
    color: floralwhite;
}
ul.navbar-horizontal a:hover {
    background-color: darkslateblue;
    color:yellowgreen;
}